<p id="notice"><%= notice %></p>

<h1>Users</h1>

  <%= form_tag(users_path, method: 'get', class: "form-autocomplete") do %>
    <div id="search-data" class="form-search search-data" data-user="<%= @users.to_json %>">
      <%= text_field_tag :q, nil, autocompleate: :off, class: "form-control search-input", placeholder: 'Search by programming language...' %>
      <%= submit_tag "Search", class: "btn btn-primary btn-home" %>
    </div>
  <% end %>
<table>
  <thead>
    <tr>
      <th>Login</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.login %></td>
        <td><%= user.name %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
