<%= form_with(model: carona) do |form| %>
  <% if carona.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(carona.errors.count, "error") %> prohibited this carona from being saved:</h2>

      <ul>
        <% carona.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :departure %>
    <%= form.text_field :departure %>
  </div>

  <div class="field">
    <%= form.label :arrival %>
    <%= form.text_field :arrival %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <div class="field">
    <%= form.label :passengers %>
    <%= form.number_field :passengers %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.datetime_select :date %>
  </div>

  <div class="field">
    <%= form.label :comments %>
    <%= form.text_field :comments %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
