<!DOCTYPE html>
<html>
  <head>
    <title> Sistema de carona da UFF | CARONUFF </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <a href="/"> <%= image_tag('logo_uff.png', width: 60,  draggable: "true", id: 'logo-uff') %>" </a>
      <nav class="nav">
        <ul class="menu">
          <li> <a href="/about"> Sobre </a></li>
          <li><a href="https://app.uff.br/hrm/trabalhe_conosco"> Trabalhe conosco </a></li>
        </ul>
      </nav>
    </header>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
